Repository lack/soundcraft-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, contrib

flake8:
  name: Run flake8
  language: system
  entry: flake8

black:
  name: Run black code-formatter
  language: system
  entry: black

contrib:
  name: Update contributors.py from CONTRIBUTORS.md
  language: system
  entry: ./tools/contrib_to_about.py
  args:
  - --git-add
  pass_filenames: false

pre-commit: Run 'pipfile-setup sync' automatically
  .pre-commit-config.yaml
  HACKING.md
Due: none

pre-commit: Run pytest on code change
  .pre-commit-config.yaml
  HACKING.md
Due: none

Add tools/link_system_libs to allow 'import gi' to work inside pipenv
  HACKING.md
  tools/link_system_libs
Due: none

Avoid mutable parameter default value objects
  soundcraft/notepad.py
Due: flake8, black

contrib: Add a place for helpful files
  contrib/README.md
Due: none

contrib: Add example commands accessing dbus service
  contrib/dbus-stuff/start-dbus-service.sh
Due: none

contrib: Add example udev rules
  contrib/udev-rules/70-soundcraft-utils.rules
  contrib/udev-rules/80-soundcraft-utils.rules
  contrib/udev-rules/90-soundcraft-utils.rules
Due: none

Adding more documentation about version numbering and releases
  HACKING.md
Due: none

Add `--version` argument to all installed scripts
  soundcraft/cli.py
  soundcraft/dbus.py
  soundcraft/gui.py
Due: flake8, black

Re-run pre-commit checks on every pull request to 'release'
  .github/workflows/commit-checks.yaml
  .pre-commit-config.yaml
Due: none

Use `dbus` strings instead of docstrings for pydbus XML
  soundcraft/dbus.py
Due: flake8, black

Align DBus XML interface descriptions
  soundcraft/dbus.py
Due: flake8, black

Use a list of classes instead of eval()ing a string
  soundcraft/notepad.py
Due: flake8, black

Correctly format firmware version BCD number as string
  soundcraft/notepad.py
Due: flake8, black

contrib: Define DBus interface using environment variables
  contrib/dbus-stuff/start-dbus-service.sh
Due: none

contrib: Use busctl variable for busctl command
  contrib/dbus-stuff/start-dbus-service.sh
Due: none

contrib: Command line DBus example set MASTER_L_R
  contrib/dbus-stuff/start-dbus-service.sh
Due: none

dbus.py: Turn it from script into pure library module
  soundcraft/dbus.py
Due: flake8, black

setup: Consistent messages for D-Bus and XDG
  soundcraft/dbus.py
Due: flake8, black

Change all constant `f""` strings to `""` strings
  soundcraft/cli.py
  soundcraft/dbus.py
Due: flake8, black

XDG desktop categories do not contain "Multimedia"
  soundcraft/data/xdg/soundcraft-utils.desktop
Due: none

In messages, use "D-Bus" spelling consistently
  HACKING.md
  README.md
  contrib/dbus-stuff/start-dbus-service.sh
  soundcraft/cli.py
  soundcraft/dbus.py
  soundcraft/gui.py
Due: flake8, black

HACKING.md: Clarify meaning
  HACKING.md
Due: none

Improve gi module import error message
  soundcraft/dbus.py
  soundcraft/gui.py
Due: flake8, black

HACKING.md: Things to avoid for compat with Python >= 3.6
  HACKING.md
Due: none

Use absolute imports everywhere
  soundcraft/cli.py
Due: flake8, black

Add fedora-specific installation prerequisite steps
  README.md
Due: none

tools/link_system_libs: Made it idempotent
  tools/link_system_libs
Due: none

Add GUI screenshots to the README.md file
  README.md
  gui-screenshot-with-dropdown.png
  gui-screenshot.png
Due: none

contrib: Add commit-author-stats.sh (provide commit author overview)
  contrib/sources/commit-author-stats.sh
Due: none

contrib: add sloccount stats
  contrib/sources/sloccount-stats.sh
Due: none

contrib: Add todo.sh to list TODO and FIXME from the sources
  contrib/sources/todo.sh
Due: none

contrib: check for mistakes in code
  contrib/sources/find-mistakes.bash
Due: none

gui: allow multiple instances of the GUI app
  soundcraft/gui.py
Due: flake8, black

HACKING.md. Add link to Desktop Menu Specification
  HACKING.md
Due: none

CONTRIBUTORS.md: Add myself
  CONTRIBUTORS.md
  soundcraft/contributors.py
Due: flake8, black, contrib

Update version to 0.4.90 for session-dbus branch
  soundcraft/__init__.py
Due: flake8, black

Start collecting constants in module: executable names
  setup.py
  soundcraft/constants.py
  soundcraft/dbus.py
  soundcraft/gui.py
Due: flake8, black

Replace 'soundcraft-utils' strings by const.PACKAGE
  setup.py
  soundcraft/cli.py
  soundcraft/constants.py
  soundcraft/dbus.py
  soundcraft/gui.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  contrib: any of: CONTRIBUTORS.md
